<header>
    <h1>Cart Details</h1>
    </header>
    <main>
    <h2>Cart ID: {{cart._id}}</h2>
    <ul>
        {{#each cart.products}}
            <li>
                <h3>{{product.title}}</h3>
                <p>Price: {{product.price}}</p>
                <p>Quantity: {{quantity}}</p>
            </li>
        {{/each}}
    </ul>
    <a href="/">Back to Products</a>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src={{pathToJS}}></script>